a:link ,.active {
    color: #0000CC;
}

#mainNav
{
  background-color: white;
}
  #linC
  {
    color:green;
  }
#srchId
{
  background-color: blue;
  color:white;
}

#navbar2{
    
    margin-left:130px;
    background-color: white;
    padding: 15px;
}
#abc
{
  width:589px;
  height: -50px;
  padding:15px;
}

#sec1
{
background-color: white;
}

#sec2
{
 margin-left: 140px;
}
#cont1
{
 margin-left: 140px;
}

#sec3
{
  padding:5px;
  margin-right: 15px;
}

#btnColor1
{
  background-color: #E0E0E0;
}

#btnColor
{
   background-color: #f0f0f0;
}
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #f0f0f0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
   
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #F0F0F0 ;
      color: black;
      padding: 15px;

    }
    
    .foot
    {
      margin-left: 90px;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
   
  